.info-img {
    height:220px;
    width:100%;
    object-fit: cover;
    border-bottom: 0.1px solid rgb(199, 199, 199);
    box-shadow: 0 5px 5px rgb(220, 220, 220);
}

.info-big-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    text-align: center;

}

.info-m-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    text-align: center;


}

.info-menu-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: rgb(255, 255, 255);
    min-width: 900px;

}

.item-container-big {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 0px 10px;
    justify-content: center;
    place-items:  center;
    align-self: center;

}

@media screen and (max-width: 1200px) {
    .item-container-big {
      grid-template-columns:1fr ;
    }
  }

.info-sidebar {
    flex: 1;
}