.sidebar {
    min-width:200px;
    width: 25%;
    background-color: rgb(188, 208, 250);
    text-align: center;
    height: 100%;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right:0;

}

@media screen and (max-width: 1000px) {
    .sidebar {
      height:100vh
    }
  }

.checkout-button {
    padding: 10px 25px 10px 25px;
}

.cart-container {
    height: 500px;
}

.checkout-container {
   margin-bottom: 50%;
}
