.card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  width: 100% auto;
  height: auto;
  padding: 2rem 2rem 0 0;
}

.breed {
  display:flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  transition: transform .2s;
}

.img:hover {
  transform: scale(1.04); 
}

.name {
  width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}

.breed-age {
  font-size: 16px;
  margin-top: 18px;
}

.review {
  font-size: 11px;
  vertical-align: bottom;
  margin-top: 21px;
}

.star {
  margin-top: 20px;
  color: rgb(255, 210, 87);
}

.rating-container {
  display: flex;
  flex-direction: row;
  gap:3px;
  max-width: 100%;
}

.description {
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fee {
  font-size: 12px;
  background-color: rgb(255, 220, 198);
  max-width: 118px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

